<p>
    <mat-toolbar>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a routerLink="/">MyMangaList</a></span>
    <span class="example-spacer"></span>
    <ul>
      <li *ngIf="authenticated && isAdmin"><a mat-button routerLink="/mangas/create" routerLinkActive="mat-warn">Add Mangas</a></li>
      <li *ngIf="!authenticated"><a mat-button routerLink="/auth/login" routerLinkActive="mat-warn">Login</a></li>
      <li *ngIf="!authenticated"><a mat-button routerLink="/auth/register" routerLinkActive="mat-warn">Register</a></li>
      <li *ngIf="authenticated"><a mat-button routerLink="/auth/profile" routerLinkActive="mat-warn">Profile</a></li>
      <li *ngIf="authenticated"><button mat-button (click)="onLogout()">Logout</button></li>
    </ul>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>
  </mat-toolbar>
  </p>