<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(form)" #form="ngForm" *ngIf="!isLoading">
        <mat-form-field appearance="fill">
            <mat-label>Enter email:</mat-label>
            <input  
                matInput 
                ngModel
                #email="ngModel"
                name="email"
                type="email"
                required
                email>
            <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
                <input 
                    matInput 
                    [type]="hide ? 'password' : 'text'"
                    ngModel
                    #password="ngModel"
                    name="password"
                    type="password"
                    required>
                <button type="button" class="hide-password" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            <mat-error *ngIf="password.invalid">Please enter the password</mat-error>
        </mat-form-field>
        <br>
        <button 
            *ngIf="!isLoading"
            mat-raised-button 
            color="accent"
            type="submit">Login</button>
    </form> 
</mat-card>