.manga-image {
    width: 90%;
  }
  
  .manga-image img {
    margin: 8px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .mat-column-Image {
    width: 7%;
  }
  
  .button-container {
    display: flex;
  }
  
  .button-container button {
    width: auto;
  }

  li {
    list-style: none;
  }

  .mat-cell {
    padding-right: 1em;
  }