.mat-table {
    width: 100%;
}

.mat-table th:last-child {
    text-align: right;
}

.mat-table tr {
    text-align: left;
}

.mat-table tr td:last-child {
    text-align: right;
}

.team-image {
    width: 90%;
}

.team-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.mat-column-image {
    width: 25%;
}

li {
    list-style: none;
}
