mat-card {
    top: 3em;
}

mat-grid-list {
    height: 50em;
}

mat-grid-tile {
    align-items: end;
}

.manga-detail-info-cover img {
    position: absolute;
    left: 12%;
    box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    border-radius: 5px;
    font-size: 0;
    z-index: 1;
}

.manga-detail-info-left {
    padding-left: 240px;
    height: 100%;
    display: inline;
}

.manga-detail-info-left > * {
    margin-top: 1em;
}

.manga-detail-info-title {
    font-size: large;
}

.manga-detail-info-author {
    font-size: large;
}

.genre-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.genre-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.manga-detail-info-right {
    height: 100%;
    text-align: center;
}

.manga-detail-info-right > * {
    margin-top: 1em;
}

.manga-detail-info-right > * > span {
    font-weight: 900;
}

.manga-detail-info-right-rank {
    font-size: large;
}

.manga-detail-info-right-popularity {
    font-size: large;
}
