input[type='file'] {
    visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rm 0;
}

.image-preview img {
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

li {
    flex-grow: 1;
    width: 33%;
}
